*{
    margin: 0;
    padding: 0;
}
html{
    height: 100%;
}
body{
    height: 100%;
}
.wrapper{
    width: 100%;
    height: 100%;
    background: url("../../images/index_img/back_index.png") center center no-repeat;
    background-size:contain;
    padding-top: 80px;
    box-sizing: border-box;
}
.register_box{
    width: 778px;
    height: 708px;
    background-color: rgba(255,255,255,0.5);
    box-shadow: 0 5px 17.1px 0.9px
    rgba(28, 26, 29, 0.3);
    border-radius: 10px;
    border: solid 1px rgba(28, 26, 29, 0.32);
    margin: 0 auto;
    position: relative;
}
.login{
    width: 650px;
    height: 84px;
    margin: 0 auto;
    margin-top: 46px;
}
.login_con_box{
    width: 343px;
    margin: 0 auto;
    margin-top: 78px;
    display: flex;
    flex-direction: column;
}
.login_option{
    width: 100%;
    display: flex;
    flex-direction:column;
}
.login_way{
    width: 100%;
    height: 22px;
    font-size: 22px;
    color: #020202;
    line-height: 22px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 28px;
    box-sizing: border-box;
}
.pitch_on_style{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 15px;
    position: relative;
    /*background-color: pink;*/
}
.pitch_on_left{
    position: absolute;
    top: 0;
    left: 15px;
}
.pitch_on_right{
    position: absolute;
    top: 0;
    right: 15px;
    display: none;
}
.login_way_left,
.login_way_right{
    cursor: pointer;
}

/*会员登陆*/
.login_import_area{
    width: 343px;
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 20px;
}
.login_import_area input,
.register_import_input {
    width: 342px;
    height: 55px;
    background-color: #ffffff;
    border-radius: 24px;
    font-size: 17px;
    color: #989898;
    border: 0;
    outline: none;
    padding-left: 29px;
    box-sizing: border-box;
}
.login_import_area button,
.register_import_area button
{
    width: 342px;
    height: 60px;
    background-color: #7d0000;
    border-radius: 24px;
    font-size: 22px;
    color: #fff;
    border: 0;
    outline: none;
    cursor: pointer;
}
/*会员注册*/
.register_import_area{
    width: 343px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 20px;
}
.register_import_area_wrap{
    display: none;
}
.auth_code_area{
    width: 343px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.input_auth_code{
    width: 187px;
    height: 60px;
    background-color: #ffffff;
    border-radius: 24px;
    font-size: 17px;
    color: #989898;
    border: 0;
    outline: none;
    padding-left: 29px;
    box-sizing: border-box;
}
.auth_code{
    width: 147px;
    height: 60px;
    background-color: #ffffff;
    border-radius: 24px;
    font-size: 17px;
    color: #989898;
    border: 0;
    outline: none;
    padding-left: 29px;
    box-sizing: border-box;
}

.find_password{
    width: 100%;
    text-align: right;
    font-size: 17px;
    color: #989898;
    display: inline-block;
    padding-right: 18px;
    box-sizing: border-box;
    cursor: pointer;
}
.back_home_page{
    width: 135px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 22px;
    color: #7d0000;
    position: absolute;
    bottom: 30px;
    left: 60px;
    cursor: pointer;
}